window {
    background: rgba( 255, 255, 255, .1 );
	border-radius: 20px;
	border: 1px solid rgba( 255, 255, 255, .1 )
}

#box {
	padding: 10px
}

#active {
	background: rgba( 255, 255, 255, .05 );
	border-radius: 10px;
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #999
}

image {
	box-shadow: none;
	border: none;
}

button {
	padding: 10px;
	font-size: 12px;
	border-radius: 10px;
}

button:hover {
	background-color: rgba(255, 255, 255, .1);
}